:root {
  /* gray */
  --color--black: #000000;
  --color--gray-dark: #555555;
  --color--gray: #777777;
  --color--gray-light: #aeaeae;
  --color--gray-border: #e8e8e8;
  --color--gray-bg: #f5f5f5;
  --color--white: #ffffff;

  /* blue - main visual */
  --color--blue-bg: #ebf0fc;
  --color--blue-light: #6390f8;
  --color--blue: #316cf5;
  --color--blue-dark: #2157d4;

  /* semantic */
  --color--success: #11c97f;
  --color--error: #ff474e;

  /* shadow */
  --color--shadow: #00000029;
}

html {
  font-size: 16px;
  font-weight: 300;
  font-family: Noto Sans, sans-serif;
}

body {
  background-color: var(--color--gray-bg);
}

nav {
  height: 3rem;
  padding: 0.375rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px var(--color--shadow);
}

main {
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  color: var(--color--blue);
  transition: color 150ms ease-in-out;
}

a:hover,
a:active,
a:focus {
  color: var(--color--blue-dark);
}

textarea {
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.logo {
  height: 100%;
}

/* override bootstrap */

.btn {
  background-color: var(--color--blue);
  color: var(--color--white);
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: var(--color--blue-dark) !important;
  color: var(--color--white) !important;
}

.btn-outline {
  background-color: var(--color--white);
  color: var(--color--blue);
  border: 1px solid var(--color--blue);
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus {
  background-color: var(--color--white) !important;
  color: var(--color--blue-dark) !important;
  border: 1px solid var(--color--blue-dark);
}

.spinner-grow {
  --bs-spinner-width: 1rem;
  --bs-spinner-height: 1rem;
  --bs-spinner-animation-speed: 1s;
  color: var(--color--gray-light);
  margin: 0.25rem 0;
}

input.form-control {
  width: 3.125rem;
}

.form-control.error {
  border-color: var(--color--error);
}
