.intro {
  max-width: 25rem;
}

.content {
  padding: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--color--gray-border);
  background-color: var(--color--white);
  flex-grow: 1;
}

#detail {
  margin-top: 0.75rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

/* components */

.group {
  display: grid;
  gap: 0.75rem;
}

.status-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.msg-board {
  background-color: var(--color--gray-bg);
  border-radius: 1rem;
  padding: 1rem;
}
