.intro {
  max-width: 25rem;
}

.content {
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--color--gray-border);
  background-color: var(--color--white);
  flex-grow: 1;
}

.status-row {
  display: flex;
  align-items: center;
  gap: .5rem;
}