.intro {
  max-width: 25rem;
}

.content {
  padding: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--color--gray-border);
  background-color: var(--color--white);
  flex-grow: 1;
}

#status {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#detail {
  margin-top: 0.75rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

/* components */

.group {
  display: flex;
  gap: 0.75rem;
}

.label {
  background-color: var(--color--gray-light);
  color: var(--color--white);
  font-size: 0.75rem;
  border-radius: 0.25rem;
  padding: 0 0.25rem;
  margin: 0.25rem 0;
  flex-shrink: 0;
}

.field {
  display: inline-flex;
  flex-direction: column;
  gap: 0.25rem;
}

.error-msg {
  color: var(--color--error);
  font-size: 0.875rem;
}

/* features */

.status-row {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.msg-board {
  width: 100%;
  background-color: var(--color--gray-bg);
  border-radius: 1rem;
  padding: 1rem;
}

.highlight {
  position: relative;
  display: inline-block;
  background-color: var(--color--error);
  color: var(--color--white);
  border-radius: 0.25rem;
  padding: 0 0.25rem;
  margin: 0.125rem 0.25rem;
  cursor: pointer;
}

.highlight.solved {
  background-color: var(--color--success);
  cursor: default;
}

.choices {
  position: absolute;
  width: max-content;
  top: 1.75rem;
  left: 50%;
  display: grid;
  gap: 0.5rem;
  transform: translateX(-50%);
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--color--white);
  border-radius: 0.25rem;
  z-index: 1;
}

.modify-group {
  display: inline-flex;
  gap: 0.25rem;
  margin: 0 0.25rem;
}

.modify {
  padding: 0.25rem 0.5rem;
}
